## Place this file in your home dir and correct it as appropriate
## Then use the following snippet to test for OS
## if [[ $OSTYPE == darwin*|linux* ]]; then
##  ...
## fi
##
export ZDOTDIR="$HOME/Machine/dotfiles/zsh"
